*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root Variables */
:root {
    --yellow: #F2F230;
    --purple: #957FEF;
    --orange: #FF6700;
    --black: #12130F;
    --blue: #23F3FB;

}

/* navigation section  */

header {
    position: fixed;
    background-color: var(--yellow);
    width: 100vw;
    height: 15vh;
}

.NavList {
    background-color: var(--purple);
    color: var(--yellow);
}

.display {
    display: none;
}

ul:hover .display {
    display: block;
}

ul {
    font-size: 2.2vw;
    font-weight: bold;
    background-color: var(--purple);
    color: var(--yellow);
    gap: 1vw;
    list-style: none;

    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "one two three four"
    ;
}

.item1 {
    grid-area: "one";
}
.item2 {
    grid-area: "two";
}
.item3 {
    grid-area: "three";
}
.item4 {
    grid-area: "four";
}

li {
    font-size: 2.2vw;
    background-color: var(--purple);
    color: var(--yellow);
}
li:hover {
    color: var(--purple);
    background-color: var(--blue);
}









body {
    background-color: black;
}