*, *::before, *::after {
    margin: 0;
    padding: 0;
    inset: 0;
    box-sizing: border-box;
}

/*
██████   ██████   ██████  ████████
██   ██ ██    ██ ██    ██    ██
██████  ██    ██ ██    ██    ██
██   ██ ██    ██ ██    ██    ██
██   ██  ██████   ██████     ██

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████

*/

:root {
    --yellow: #F2F230;
    --purple: #957FEF;
    --orange: #FF6700;
    --black: #12130F;
    --blue: #23F3FB;

}

/*
███    ██  █████  ██    ██ ██  ██████   █████  ████████ ██  ██████  ███    ██
████   ██ ██   ██ ██    ██ ██ ██       ██   ██    ██    ██ ██    ██ ████   ██
██ ██  ██ ███████ ██    ██ ██ ██   ███ ███████    ██    ██ ██    ██ ██ ██  ██
██  ██ ██ ██   ██  ██  ██  ██ ██    ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██   ████ ██   ██   ████   ██  ██████  ██   ██    ██    ██  ██████  ██   ████

██████   █████  ██████
██   ██ ██   ██ ██   ██
██████  ███████ ██████
██   ██ ██   ██ ██   ██
██████  ██   ██ ██   ██
*/

header {
    position: fixed;
    background-color: var(--yellow);
    width: 100vw;
    height: 5vw;
}

.NavList {
    background-color: var(--purple);
    color: var(--yellow);
}



ul {
    font-size: 2.2vw;
    font-weight: bold;
    background-color: var(--purple);
    color: var(--yellow);
    gap: 1vw;
    list-style: none;

    display: grid;
    width: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "one two three four"
    ;
    justify-content: baseline;
    align-items: baseline;
    text-align: center;
}

.pathList, .contactList, .projectList, .journalList {
    display: block;
}


.item1 {
    grid-area: "one";
}

.item2 {
    grid-area: "two";
}

.item3 {
    grid-area: "three";
}

.item4 {
    grid-area: "four";
}
.bar {
    grid-area: "bar"
}

.item1 li, .item2 li, .item3 li, .item4 li {
    display: none;

}
.item1:hover li, .item2:hover li, .item3:hover li, .item4:hover li {
    display: block;
}

li {
    display: block;
    transition-duration: .5s;
}

li,a {
    font-size: 2.2vw;
    background-color: var(--purple);
    color: var(--yellow);
    text-decoration: none;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}
li:hover, a:hover {
    color: var(--purple);
    background-color: var(--blue);
    opacity: .8;
    font-size: 1.1em;
    border-radius: 10px;
}


/*

██████   ██████  ██████  ██    ██
██   ██ ██    ██ ██   ██  ██  ██
██████  ██    ██ ██   ██   ████
██   ██ ██    ██ ██   ██    ██
██████   ██████  ██████     ██


*/



body {
    background-color: var(--purple);
    color: var(--black);
    margin-top: 5.5vw;
}



/* form input section */


button {
    width: 5em;
    height: 5em;
}



/* rendered content 

    <section class="renderedEls">
                        <h1 class="title">
                            My Title
                        </h1>
                        <p class="content">
                            The content within the title
                        </p>
                        <p class="userName">Johnny</p>
                        <p class="userEmail">Email@blue.com</p>
                        <p class="year">1999</p>
                        <p class="website">wkdi.wioj.com</p>
                        <p class="file">the file</p>
                    </section>

*/

.renderedEls {
    font-family: 'cursive','Courier New', Courier, monospace;
    background: var(--orange);
    width: 70vw;
    height: 40vh;
    color: var(--black);
    text-align: center;
    border-radius: 30px;
    margin: 1rem auto ;
    display: grid;
    grid-template-areas:
        "title title"
        "texts texts"
        "userName year"
        "website file"
    ;
    box-shadow: 0 0 50px var(--yellow);
    overflow-y: auto;
}


.title {
    font-size: 8vw;
    border-bottom: 1vw solid var(--black);
    grid-area: title;
}
.content {
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 1.25;
    grid-area: texts;
}
.userName {
    grid-area: userName;
}

.year {
    grid-area: year;
}
.website {
    grid-area: website;
}
.file {
    grid-area: file;
}




/*

███    ███ ███████ ██████  ██  █████
████  ████ ██      ██   ██ ██ ██   ██
██ ████ ██ █████   ██   ██ ██ ███████
██  ██  ██ ██      ██   ██ ██ ██   ██
██      ██ ███████ ██████  ██ ██   ██


*/

@media (max-width: 580px) {

    .item1:active li, .item2:active li, .item3:active li, .item4:active li {
        display: block;
    }
    

}

@font-face {
    font-family: "cursive";
    src: url(./Fonts/Cedarville-Cursive.ttf);
}