*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
██████   ██████   ██████  ████████
██   ██ ██    ██ ██    ██    ██
██████  ██    ██ ██    ██    ██
██   ██ ██    ██ ██    ██    ██
██   ██  ██████   ██████     ██

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████

*/
:root {
    --yellow: #F2F230;
    --purple: #957FEF;
    --orange: #FF6700;
    --black: #12130F;
    --blue: #23F3FB;

}

/*
███    ██  █████  ██    ██ ██  ██████   █████  ████████ ██  ██████  ███    ██
████   ██ ██   ██ ██    ██ ██ ██       ██   ██    ██    ██ ██    ██ ████   ██
██ ██  ██ ███████ ██    ██ ██ ██   ███ ███████    ██    ██ ██    ██ ██ ██  ██
██  ██ ██ ██   ██  ██  ██  ██ ██    ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██   ████ ██   ██   ████   ██  ██████  ██   ██    ██    ██  ██████  ██   ████

██████   █████  ██████
██   ██ ██   ██ ██   ██
██████  ███████ ██████
██   ██ ██   ██ ██   ██
██████  ██   ██ ██   ██
*/

header {
    position: fixed;
    background-color: var(--yellow);
    width: 100vw;
    height: 15vh;
}

.NavList {
    background-color: var(--purple);
    color: var(--yellow);
}

.nodisplay {
    display: none;
}

ul {
    font-size: 2.2vw;
    font-weight: bold;
    background-color: var(--purple);
    color: var(--yellow);
    gap: 1vw;
    list-style: none;

    display: grid;
    width: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "one two three four"
    ;
    justify-content: baseline;
    align-items: baseline;
    text-align: center;
}

.item1 {
    grid-area: "one";
}
.item2 {
    grid-area: "two";
}
.item3 {
    grid-area: "three";
}
.item4 {
    grid-area: "four";
}

li,a {
    font-size: 2.2vw;
    background-color: var(--purple);
    color: var(--yellow);
    text-decoration: none;
}
li:hover, a:hover {
    color: var(--purple);
    background-color: var(--blue);
}





/*

██████   ██████  ██████  ██    ██
██   ██ ██    ██ ██   ██  ██  ██
██████  ██    ██ ██   ██   ████
██   ██ ██    ██ ██   ██    ██
██████   ██████  ██████     ██


*/



body {
    background-color: black;
}